@import "mixins";
@import "var";
@import "header";
@import "trusted";
@import "about";
@import "popular-furniture";
@import "all-furniture";
@import "customers";
@import "subscribe";
@import "footer";

body {
    margin: 0;
}
