.subscribe{
    @include container;
    height: 394.42px;
    background-color: #F4F6F6;
    padding: 20px;

    .subscribe-header{
        margin: 48px auto 20px;
        width: 605px;
        font-family: $head-font;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #222222;
        text-align: center;
    }
    .subscribe-description{
        margin: 20px auto 40px;
        width: 493px;
        font-family: $main-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
        text-align: center; 
    }

    .subscribe-form{
        width: 471.98px;
        height: 67px;
        margin: 40px auto 35.32px;

        form{
            display: flex;
            align-items: center;
            background-color: #FFFFFF;
            label{
                margin-right: 12px;
                margin-left: 17.52px;
            }
            
            #mail{
                height: 52px;
                width: 293px;
                border: none;
                font-family: $main-font;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
            }
            #mail::placeholder{
                color: #bababa;
                font-family: $main-font;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
            }
            button{
                margin-right: 19.19px;
                width: 125.32px;
                height: 52px;
                background-color: #305F64;
                color: white;
                font-family: $main-font;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
            }
        }
        
    }

}